/* universal */
* {
  margin: 0;
  padding: 0;
}
/* root colors */
:root {
  --primary-color: #151e3f;
  --dark-color: #030027;
  --light-color: #e9f1f7;
  --secondary-color: #ffc847;
  --tertiary-color: #1985a1;
}
/* ::-webkit-scrollbar-track {
  background-color: var(--primary-color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--dark-color);
} */
#mapid {
  width: 100%;
  height: 490px;
}

/* applies to style of body */
body {
  background-color: var(--primary-color);
  color: white;
  font-family: 'Open Sans', Sans-Serif;
}
/* Setting font styles with PURECSS framework */
html,
button,
input,
select,
textarea,
.pure-g [class*='pure-u'] {
  font-family: 'Work Sans', Sans-Serif;
  font-family: 'Open Sans', Sans-Serif;
}
header {
  font-family: 'Work Sans', Sans-Serif;
  background-color: var(--dark-color);
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.title {
  font-size: 90px;
  margin: 0;
  padding: 25px 25px 0px 25px;
  text-align: center;
}
nav {
  padding: 15px;
  color: white;
  margin: auto;
}
.nav-bar {
  display: flex;
}
.menu-item {
  color: white;
  font-size: 35px;
  padding: 20px;
  text-decoration: underline;
}
.hero {
  background-image: url('../images/hero.jpg');
  background-size: cover;
  background-position: center;
  padding: 20px;
}
.hero-wrap {
  background-color: rgba(233, 241, 247, 0.5);
  border-radius: 0.3em;
  margin: auto;
}
.about {
  color: var(--dark-color);
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  padding: 75px;
  width: 70%;
  margin: auto;
}
.information-block {
  box-sizing: border-box;
}
.info-container {
  padding: 15px;
  box-sizing: border-box;
  text-align: center;
}
#savestatebtn {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background-color: var(--secondary-color);
  font-size: 25px;
  font-style: italic;
  margin: auto;
  margin-bottom: 20px;
}
#savestatebtn:hover {
  cursor: pointer;
  background-color: #e6a50f;
}
.savedstatename {
  font-size: 40px;
  background-color: var(--tertiary-color);
  margin: 20px;
  border-radius: 20px;
  list-style-type: none;
  padding: 20px;
  text-align: center;
}
.savedstatenamewrap {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 25px;
  margin: 45px
  
}
.state {
  font-family: 'Work Sans', Sans-Serif;
}
.saved {
  font-size: 30px;
  width: 50%;

box-sizing: border-box;}
.stats {
  font-size: 30px;
  text-align: left;
}
.savedstates {
  font-family: 'Work Sans', Sans-Serif;
  font-size: 50px;
  text-decoration: underline;
}
#state-name {
  font-family: 'Work Sans', Sans-Serif;
  font-size: 50px;
  text-decoration: underline;
}
#state-date {
  height: 100%;
  font-family: 'Work Sans', Sans-Serif;
  font-size: 50px;
  justify-self: start;
  align-self: end;
  text-decoration: underline;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: rgb(0, 0, 0);
}
